<strong>Olá {{ name }}</strong> <br />
<p>Seja bem vindo a GymPoint, o lugar da sua evolução</p>

<p>
    <i>Informações do seu cadastro<i /> <br />
        <strong>Plano: </strong> {{plan}} <br />
        <strong>Data de término: </strong> {{date}} <br />
        <strong>Valor total: </strong> {{total}} <br />
</p>
